@{
    ViewData["Title"] = "Request Resources";
}
<div>
    <h1 class="display-4">Welcome to Resource Request</h1>

    <h4>Fill in Request Form</h4>
    <form>
        <label for="sid">StudentID</label>
        <input type="text" name="fmane" /><br />
        <label for="rid">ResoureID</label>
        <input type="text" name="rid" /><br />
    </form>
    <button class="btn btn-success">Submit</button>
</div>