@{
    ViewData["Title"] = "Request Resources";
}
<div>
    <h1 class="display-4">Welcome to Resource Request</h1>
    <p>Current Requests</p>
    <table>
        <thead>
            <tr>
                <td>RequestID</td>
                <td>StudentID</td>
                <td>StudentName</td>
                <td>Request Date</td>
                <td>Approval Status</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>R001</td>
                <td>s4654654</td>
                <td>Anuj</td>
                <td>03/08/2022</td>
                <td>Approved</td>
            </tr>
            <tr>
                <td>R002</td>
                <td>s4785784</td>
                <td>Suman</td>
                <td>05/08/2022</td>
                <td>Denied</td>
            </tr><tr>
                <td>R003</td>
                <td>s6784958</td>
                <td>Sital</td>
                <td>30/08/2022</td>
                <td>In Review</td>
            </tr>
        </tbody>
    </table>
    <h4>Fill in Request Form</h4>
    <form>
        <label for="sid">StudentID</label>
        <input type="text" name="fmane" /><br />
        <label for="rid">ResoureID</label>
        <input type="text" name="rid" /><br />
    </form>
    <button class="btn btn-success">Submit</button>
</div>