@{
    ViewData["Title"] = "Resources";
}
<div>
    <h4>iPad - RES001</h4>
    <p>Provided to students who want to create and test ios and ipados apps.</p>
    <h4>Android Phone - RES002</h4>
    <p>Provided to students who want to create and test android apps.</p>
    <h4>iMac - RES003</h4>
    <p>Provided to students who want to create and test ios, ipados or macos apps.</p>
    <h4>High Performance Computer - RES004</h4>
    <p>Provided to students who want to create and test windows or linux apps, games or anything that requires high performance.</p>
</div>