@{
    ViewData["Title"] = "Units";
}
<div>
    <h4>Introduction to Information Technology</h4>
    <ul>
        <li>Bachelor of Information Technology</li>
        <li>Bachelor of Cyber Security</li>
        <li>Bachelor of Data Science</li>
    </ul>
    <h4>Introduction to Cyber Security</h4>
    <ul>
        <li>Bachelor of Information Technology</li>
        <li>Bachelor of Cyber Security</li>
    </ul>
    <h4>Intoduction to Data Science</h4>
    <ul>
        <li>Bachelor of Information Technology</li>
        <li>Bachelor of Data Science</li>
    </ul>
    <h4>Advanced Cyber Security</h4>
    <ul>
        <li>Bachelor of Cyber Security</li>
    </ul>
    <h4>Advanced Data Science</h4>
    <ul>
        <li>Bachelor of Data Science</li>
    </ul>
    <h4>Applied Project</h4>
    <ul>
        <li>Bachelor of Information Technology</li>
        <li>Bachelor of Cyber Security</li>
        <li>Bachelor of Data Science</li>
    </ul>
</div>