@{
    ViewData["Title"] = "Courses";
}
<div>
    <h4>Bachelor of Information Technology</h4>
    <ul>
        <li>Introduction to Information Technology</li>
        <li>Introduction to Cyber Security</li>
        <li>Intoduction to Data Science</li>
        <li>Applied Project</li>
    </ul>
    <h4>Bachelor of Cyber Security</h4>
    <ul>
        <li>Introduction to Information Technology</li>
        <li>Introduction to Cyber Security</li>
        <li>Advanced Cyber Security</li>
        <li>Applied Project</li>
    </ul>
    <h4>Bachelor of Data Science</h4>
    <ul>
        <li>Introduction to Information Technology</li>
        <li>Introduction to Data Science</li>
        <li>Advanced Data Science</li>
        <li>Applied Project</li>
    </ul>
</div>