@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Discipline of IT</h1>
    <p>Learn about IT <a href="/Request/Courses">Courses</a>, <a href="/Request/Units">Units</a>, <a href="/Request/Teachers">Teachers</a>, and <a href="/Resources/Index">Resources</a> provided at <a href="https://www.vu.edu.au">VU</a>. </p>
</div>
