@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="field-item even ">
    <p>As a user of the VU websites, your privacy is protected by the Privacy and Data Protection Act 2014 (Vic) and the University's <a href="https://policy.vu.edu.au/document/view.php?id=166">Privacy Policy</a> and <a href="https://policy.vu.edu.au/document/view.php?id=167">Privacy Procedure</a>. This statement provides you with information on how the University handles your information when you access its websites.</p>
    <h3>Information automatically logged</h3>
    <ul>
        <li>The University may make a record of your visit and log any of the following information for statistical and business purposes - the user's address, the user's domain name, IP address, the date and time of the visit, the pages accessed and documents downloaded, the previous site visited and the type of browser used. Identification of the user may also be requested and logged.</li>
        <li>Information about your visit to the website may also be logged by an external service provider that produces to the University de-identified statistical analysis about users' online experiences and trends.</li>
        <li>If you are not a student or staff member and you send us a message, the University will record your email address.</li>
    </ul>
    <h3>Security Information</h3>
    <p>University sites have security measures in place against the loss, misuse and alteration of information. A login name and password are required to visit secure areas. Staff and students should ensure that passwords are kept confidential.</p>
    <h3>Cookies</h3>
    <ul>
        <li>A cookie is a small message given to your web browser by our web server. The browser stores the message in a text file and the message is then sent back to the server each time the browser requests a page from the server. It is possible to disable the acceptance of cookies by your web browser, however, doing so may restrict your ability to access some web pages.</li>
        <li>Some University sites are access restricted. These sites may use cookies to deliver content specific to your interest. Cookies may also be used for authentication purposes and to improve security during a visitor's session online.</li>
        <li>Unique identifiers (such as log-in name and password) are collected from web site visitors to verify a user's identity and for use as account numbers in our record system.</li>
        <li>Unique identifiers are also used to access stored information about a visitor's preferences to enable the dynamic display of the site according to your preferences when you return.</li>
        <li>Cookies may store the following information: session (numbered key) and duration. A numbered key is a unique server generated number used to track your current session. The session key can be linked back to a user's login identification.</li>
        <li>This site uses third-party cookies (such as DoubleClick) to facilitate Google Analytics Demographics and Interest Reporting. These cookies gather de-identified website visitor data (including age, gender, and interests) at an aggregate-level to assist in the optimisation of website content, advertising and marketing.</li>
        <li>It is possible to disable the acceptance of cookies by your web browser, however, doing so may restrict your ability to access some web pages. If you wish to opt-out of your data being collected via cookies, you can access <a href="https://tools.google.com/dlpage/gaoptout/">Google Analytics’ opt-out features and browser tools</a>.</li>
    </ul>
    <h3>External links</h3>
    <p>Some University sites contain links to other sites. The University is not responsible for the privacy practices or content of other sites.</p>
    <h3>Use of Hotjar on our website</h3>
    <p>We use <a href="https://www.hotjar.com/">Hotjar</a> in order to better understand our users’ needs and to optimise this service and experience. Hotjar is a technology service that helps us better understand our users’ experience (e.g. how much time they spend on which pages, which links they choose to click, what users do and don’t like, etc.) and this enables us to build and maintain our service with user feedback. Hotjar uses cookies and other technologies to collect data on our users’ behaviour and their devices. This includes:</p>
    <ul>
        <li>a device's IP address (processed during your session and stored in a de-identified form)</li>
        <li>device screen size</li>
        <li>device type (unique device identifiers)</li>
        <li>browser information</li>
        <li>geographic location (country only)</li>
        <li>the preferred language used to display our website.</li>
    </ul>
    <p>Hotjar stores this information on our behalf in a pseudonymised user profile. Hotjar is contractually forbidden to sell any of the data collected on our behalf.</p>
    <p>For further details, please see <a href="https://help.hotjar.com/hc/en-us/categories/115001323967-about-hotjar">'About Hotjar' on the Hotjar support site</a>.</p>
    <h3>Public forums</h3>
    <p>Some University sites may have chat rooms, forums, on-line teaching environments, message boards and news groups available to their users. Please remember that any information that is disclosed in these arenas becomes public information and you should exercise caution when disclosing your personal information.</p>
</div>
