@{
    ViewData["Title"] = "Teachers";
}
<div>
    <h1>Our team of highly qualified teachers.</h1>
    <br />
    <br />
    <h4>Dr. Alan Turing</h4>
    <ul>
        <li>PhD. Data Science</li>
        <li>Introduction to Information Technology</li>
        <li>Introduction to Data Science</li>
        <li>Advanced Data Science</li>
    </ul>
    <br />
    <h4>Dr. Tim Cook</h4>
    <ul>
        <li>PhD. Cyber Security</li>
        <li>Introduction to Cyber Security</li>
        <li>Advanced Cyber Security</li>
        <li>Applied Project</li>
    </ul>
</div>